# Laravel
/vendor/
/node_modules/
.env
.env.*.local
.phpunit.result.cache
.phpstorm.meta.php
/storage/
bootstrap/cache/

# Debug & IDE
/.vscode/
/.idea/
/nbproject/
/*.log
*.swp
*.swo

# Composer & Node
composer.lock
package-lock.json
yarn.lock
npm-debug.log
yarn-debug.log

# OS Specific
.DS_Store
Thumbs.db
